@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="container">
    <div class="content">
        <h1> Cont activat</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

    </div>    
</div>


