@using Microsoft.AspNetCore.Identity;
@using UrbanDictionary1.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>@ViewData["Title"] - UrbanDictionary1</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/UrbanDictionary1.styles.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>
    <div class="thebody">
        <header class="theheader">
            <div class="wrapper">
                <div class="logo">
                     <a asp-area="" asp-controller="Expressions" asp-action="Index"><img src="~/Images/logo.svg" class="logo" alt="logo" /></a>
                </div>
                <div class="navbar">
                    <div class="close-nav"><button>X</button></div>
                    <nav>
                        <ul>
                            <li><a asp-controller="Expressions" asp-action="Index">Acasă</a></li>
                            <li><a asp-controller="Expressions" asp-action="Create">Adaugă</a></li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li> <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Expressions")">Logout</a></li>
                            } else
                            {
                                <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                            }
                            <li><a asp-area="Identity" asp-page="/Account/Register">Inregistrare</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cont</a></li>
                            <li><a asp-controller="Expressions" asp-action="Contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="menu-bar">
                    <button>&#9776;</button>
                </div>
                <form asp-action="Index" id="search-form" >
                <input name="searchString" class="search-input" type="search" placeholder="Caută...">
                <button type="submit" class="search-button">
                    <img src="~/Images/search.svg">
                </button>
                </form>            
                
            </div>
            
        </header>
          @RenderBody()
        <footer class="thefooter">
            <div class="info">2023 * Dicționar Urban - still working on it</div>
        </footer>
    </div>
    

    <script src="~/js/script.js" asp-append-version="true"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
