html {
  background-color: #FFFFFF;
  color: #363C49;
  font-family: "Roboto Condensed";
  font-size: 1.1em;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}

.text-danger {
  color: red;
}

input[type=submit] {
  all: unset;
  width: 40%;
  max-width: 6em;
  margin-inline: auto;
  margin-block: 1em;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.5em;
  background: #D3D3D3;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  input[type=submit] {
    background: #656464;
    color: #ffffff;
  }
}
input[type=submit]:hover {
  background-color: #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  input[type=submit]:hover {
    background-color: #4b5368;
  }
}

.thebody {
  display: grid;
  row-gap: 1em;
}

.theheader {
  margin-inline: 0.5em;
  margin-block-start: 0.5em;
  grid-row: 1/2;
  border-radius: 0.5em;
  text-align: center;
  background-color: #E2E4E9;
  max-height: 15em;
}
@media (prefers-color-scheme: dark) {
  .theheader {
    background-color: #2B303B;
  }
}
.theheader .wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .theheader .wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 0.7fr 1fr 1fr;
  }
}
.theheader .wrapper .logo {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 80%;
  max-width: 20em;
}
.theheader .wrapper .logo path {
  fill: #000;
}
@media (prefers-color-scheme: dark) {
  .theheader .wrapper .logo path {
    fill: #FFF;
  }
}
@media screen and (min-width: 768px) {
  .theheader .wrapper .logo {
    grid-column: 1/2;
  }
}
.theheader .wrapper .navbar {
  grid-row: 1/2;
  grid-column: 2/3;
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  background-color: transparent;
  padding: 20px;
  transition: left 0.3s;
}
@media screen and (min-width: 768px) {
  .theheader .wrapper .navbar {
    all: unset;
    grid-column: 3/4;
    text-align: right;
    margin-inline-start: 2em;
  }
}
.theheader .wrapper .navbar.show {
  left: 0;
}
.theheader .wrapper .navbar nav {
  margin-inline-end: 1em;
}
.theheader .wrapper .navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6em;
}
@media screen and (min-width: 768px) {
  .theheader .wrapper .navbar ul {
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
    margin-inline-end: 4em;
  }
}
.theheader .wrapper .navbar ul a {
  all: unset;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8em;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .theheader .wrapper .navbar ul a {
    color: #ffffff;
  }
}
.theheader .wrapper .navbar ul a:hover {
  color: #457b9d;
  border-block: 0.1em solid #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .theheader .wrapper .navbar ul a:hover {
    color: #673d8d;
    border-block: 0.1em solid #4b5368;
  }
}
@media screen and (min-width: 768px) {
  .theheader .wrapper .navbar ul a {
    font-size: inherit;
  }
}
.theheader .wrapper .navbar .close-nav {
  text-align: right;
  margin-inline-end: 2em;
  margin-bottom: 1.3em;
}
@media screen and (min-width: 768px) {
  .theheader .wrapper .navbar .close-nav {
    display: none;
  }
}
.theheader .wrapper .navbar .close-nav button {
  all: unset;
  background: #D3D3D3;
  font-size: 2em;
  cursor: pointer;
  padding-block: 0.2em;
  padding-inline: 0.5em;
  border-radius: 0.5em;
  color: #363C49;
  border: 1px solid #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .theheader .wrapper .navbar .close-nav button {
    color: #ffffff;
    border: 1px solid #4b5368;
    background: #656464;
  }
}
.theheader .menu-bar {
  text-align: right;
  margin-inline-end: 1em;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .theheader .menu-bar {
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .theheader .menu-bar {
    display: none;
  }
}
.theheader .menu-bar button {
  all: unset;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.9em;
}
.theheader #search-form {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  height: 55%;
  max-height: 2.4em;
  margin-block: auto;
}
@media screen and (min-width: 768px) {
  .theheader #search-form {
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 32em;
  }
}
.theheader #search-form .search-input {
  width: 100%;
  margin-inline-start: 1em;
  padding: 0.5em;
  border: none;
  border-start-start-radius: 0.5em;
  border-end-start-radius: 0.5em;
  outline: none;
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .theheader #search-form .search-input {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}
.theheader #search-form .search-input::placeholder {
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .theheader #search-form .search-input::placeholder {
    color: #ffffff;
  }
}
.theheader #search-form .search-button {
  background: #D3D3D3;
  border: none;
  outline: none;
  margin-inline-end: 1em;
  border-start-end-radius: 0.5em;
  border-end-end-radius: 0.5em;
}
@media (prefers-color-scheme: dark) {
  .theheader #search-form .search-button {
    background: #656464;
  }
}
.theheader #search-form .search-button:hover {
  background-color: #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .theheader #search-form .search-button:hover {
    background-color: #4b5368;
  }
}
.theheader #search-form .search-button img {
  width: 100%;
  height: auto;
  max-height: 1.7em;
}

.container {
  margin-inline: 0.5em;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr min-content;
  row-gap: 1em;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1.5fr;
    column-gap: 1em;
    width: 90%;
    margin-inline: auto;
  }
}
.container .content {
  grid-row: 1/2;
  border-radius: 0.5em;
  background-color: #E2E4E9;
}
@media (prefers-color-scheme: dark) {
  .container .content {
    background-color: #2B303B;
  }
}
@media screen and (min-width: 768px) {
  .container .content {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.container .content .error {
  font-size: xx-large;
  text-align: center;
  padding-block: 6em;
}
.container .content .expressions-list {
  display: grid;
  padding-block-end: 1em;
  justify-items: center;
}
.container .content .expressions-list .expression-card {
  width: 85%;
  margin-inline: auto;
  padding: 1em;
  margin-inline: 0.8em;
  margin-block-start: 1em;
  border-radius: 0.5em;
  background-color: #D3D3D3;
}
@media (prefers-color-scheme: dark) {
  .container .content .expressions-list .expression-card {
    background-color: #656464;
  }
}
.container .content .expressions-list .expression-card .first-row {
  display: flex;
  justify-content: space-between;
}
.container .content .expressions-list .expression-card .first-row .expression {
  font-weight: bold;
  font-size: x-large;
}
.container .content .expressions-list .expression-card .first-row .share {
  width: 8.5%;
  max-width: 1.7em;
}
.container .content .expressions-list .expression-card .first-row .share img {
  width: 100%;
}
.container .content .expressions-list .expression-card .explication {
  padding-block-start: 0.5em;
}
.container .content .expressions-list .expression-card .example {
  font-style: italic;
  padding-block-start: 0.8em;
}
.container .content .expressions-list .expression-card .card-info {
  padding-block-start: 1em;
}
.container .content .expressions-list .expression-card .card-info .author {
  font-weight: bold;
  cursor: pointer;
  color: #2D6A9F;
}
@media (prefers-color-scheme: dark) {
  .container .content .expressions-list .expression-card .card-info .author {
    color: #f3c3c3;
  }
}
.container .content .expressions-list .expression-card .card-info .date {
  font-weight: bold;
  color: #2D6A9F;
}
@media (prefers-color-scheme: dark) {
  .container .content .expressions-list .expression-card .card-info .date {
    color: #f3c3c3;
  }
}
.container .content .expressions-list .expression-card .last-row {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1em;
}
.container .content .expressions-list .expression-card .last-row .likes-system {
  display: flex;
  border-radius: 0.5em;
  border: 0.0625em solid #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .container .content .expressions-list .expression-card .last-row .likes-system {
    border: 0.0625em solid #4b5368;
  }
}
.container .content .expressions-list .expression-card .last-row .likes-system .like-part {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  border-inline-end: 0.0625em solid #bfc2c9;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .expressions-list .expression-card .last-row .likes-system .like-part {
    color: #ffffff;
    border-inline-end: 0.0625em solid #4b5368;
  }
}
.container .content .expressions-list .expression-card .last-row .likes-system .like-part img {
  width: 30%;
  max-width: 1.7em;
}
.container .content .expressions-list .expression-card .last-row .likes-system .like-part .likes {
  margin-block: auto;
}
.container .content .expressions-list .expression-card .last-row .likes-system .dislike-part {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .expressions-list .expression-card .last-row .likes-system .dislike-part {
    color: #ffffff;
  }
}
.container .content .expressions-list .expression-card .last-row .likes-system .dislike-part img {
  width: 30%;
  max-width: 1.7em;
}
.container .content .expressions-list .expression-card .last-row .likes-system .dislike-part .dislikes {
  margin-block: auto;
}
.container .content .expressions-list .expression-card .last-row .report {
  width: 8.5%;
  max-width: 1.7em;
}
.container .content .expressions-list .expression-card .last-row .report img {
  width: 100%;
}
.container .content .login-page {
  padding: 1.5em;
  text-align: center;
}
.container .content .login-page .login-form {
  display: grid;
  text-align: center;
}
.container .content .login-page .login-form input {
  border: 0;
  text-align: center;
  border-radius: 0.5em;
  width: 90%;
  max-width: 30em;
  min-height: 2.5em;
  margin: 0.8em;
  justify-self: center;
}
@media (prefers-color-scheme: dark) {
  .container .content .login-page .login-form input {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}
.container .content .login-page .login-form input::placeholder {
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .login-page .login-form input::placeholder {
    color: #ffffff;
  }
}
.container .content .login-page .login-form .login-password {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content .login-page .login-form .login-password button {
  all: unset;
  margin-inline-end: 8em;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.5em;
  background: #D3D3D3;
  color: #363C49;
}
@media screen and (min-width: 768px) {
  .container .content .login-page .login-form .login-password button {
    margin-inline-end: 12em;
  }
}
@media (prefers-color-scheme: dark) {
  .container .content .login-page .login-form .login-password button {
    background: #656464;
    color: #ffffff;
  }
}
.container .content .login-page .login-form .login-password button:hover {
  background-color: #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .container .content .login-page .login-form .login-password button:hover {
    background-color: #4b5368;
  }
}
.container .content .login-page .login-form .login-password a {
  text-decoration: none;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .login-page .login-form .login-password a {
    color: #ffffff;
  }
}
.container .content .login-page .login-form .login-password a:hover {
  color: #2D6A9F;
}
@media (prefers-color-scheme: dark) {
  .container .content .login-page .login-form .login-password a:hover {
    color: #f3c3c3;
  }
}
.container .content .add-page {
  padding: 1.5em;
  text-align: center;
}
.container .content .add-page .add-form {
  display: grid;
  text-align: center;
}
.container .content .add-page .add-form textarea {
  border: 0;
  resize: none;
  white-space: pre-wrap;
  text-align: center;
  border-radius: 0.5em;
  padding-block-start: 1em;
  text-align: center;
  width: 90%;
  max-width: 30em;
  min-height: 5em;
  margin: 0.8em;
  justify-self: center;
}
@media (prefers-color-scheme: dark) {
  .container .content .add-page .add-form textarea {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}
.container .content .add-page .add-form textarea::placeholder {
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .add-page .add-form textarea::placeholder {
    color: #ffffff;
  }
}
.container .content .add-page .add-form button {
  all: unset;
  width: 40%;
  max-width: 6em;
  margin-inline: auto;
  margin-block: 1em;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.5em;
  background: #D3D3D3;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .add-page .add-form button {
    background: #656464;
    color: #ffffff;
  }
}
.container .content .add-page .add-form button:hover {
  background-color: #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .container .content .add-page .add-form button:hover {
    background-color: #4b5368;
  }
}
.container .content .contact-page {
  padding: 1.5em;
  text-align: center;
}
.container .content .contact-page .contact-form {
  display: grid;
  text-align: center;
}
.container .content .contact-page .contact-form input {
  border: 0;
  text-align: center;
  border-radius: 0.5em;
  width: 90%;
  max-width: 30em;
  min-height: 2.5em;
  margin: 0.8em;
  justify-self: center;
}
@media (prefers-color-scheme: dark) {
  .container .content .contact-page .contact-form input {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}
.container .content .contact-page .contact-form input::placeholder {
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .contact-page .contact-form input::placeholder {
    color: #ffffff;
  }
}
.container .content .contact-page .contact-form textarea {
  border: 0;
  resize: none;
  white-space: pre-wrap;
  text-align: center;
  border-radius: 0.5em;
  padding-block-start: 1em;
  text-align: center;
  width: 90%;
  max-width: 30em;
  min-height: 5em;
  margin: 0.8em;
  justify-self: center;
}
@media (prefers-color-scheme: dark) {
  .container .content .contact-page .contact-form textarea {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}
.container .content .contact-page .contact-form textarea::placeholder {
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .contact-page .contact-form textarea::placeholder {
    color: #ffffff;
  }
}
.container .content .contact-page .contact-form button {
  all: unset;
  width: 40%;
  max-width: 6em;
  margin-inline: auto;
  margin-block: 1em;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.5em;
  background: #D3D3D3;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .contact-page .contact-form button {
    background: #656464;
    color: #ffffff;
  }
}
.container .content .contact-page .contact-form button:hover {
  background-color: #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .container .content .contact-page .contact-form button:hover {
    background-color: #4b5368;
  }
}
.container .content .register-page {
  padding: 1.5em;
  text-align: center;
}
.container .content .register-page .register-form {
  display: grid;
  text-align: center;
}
.container .content .register-page .register-form input {
  border: 0;
  text-align: center;
  border-radius: 0.5em;
  width: 90%;
  max-width: 30em;
  min-height: 2.5em;
  margin: 0.8em;
  justify-self: center;
}
@media (prefers-color-scheme: dark) {
  .container .content .register-page .register-form input {
    background-color: #0B0C0F;
    color: #ffffff;
  }
}
.container .content .register-page .register-form input::placeholder {
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .register-page .register-form input::placeholder {
    color: #ffffff;
  }
}
.container .content .register-page .register-form button {
  all: unset;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.5em;
  width: 30%;
  background: #D3D3D3;
  color: #363C49;
}
@media screen and (min-width: 768px) {
  .container .content .register-page .register-form button {
    margin-inline-end: 12em;
  }
}
@media (prefers-color-scheme: dark) {
  .container .content .register-page .register-form button {
    background: #656464;
    color: #ffffff;
  }
}
.container .content .register-page .register-form button:hover {
  background-color: #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .container .content .register-page .register-form button:hover {
    background-color: #4b5368;
  }
}
.container .content .register-page .register-form a {
  text-decoration: none;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .content .register-page .register-form a {
    color: #ffffff;
  }
}
.container .content .register-page .register-form a:hover {
  color: #2D6A9F;
}
@media (prefers-color-scheme: dark) {
  .container .content .register-page .register-form a:hover {
    color: #f3c3c3;
  }
}
.container .sidebar {
  grid-row: 2/3;
  border-radius: 0.5em;
  background-color: #E2E4E9;
  height: fit-content;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar {
    background-color: #2B303B;
  }
}
@media screen and (min-width: 768px) {
  .container .sidebar {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
.container .sidebar .expression-day {
  padding: 0 0.5em 1.5em 0.5em;
}
.container .sidebar .expression-day h2 {
  text-align: center;
}
.container .sidebar .expression-day .expression-card {
  width: 80%;
  margin-inline: auto;
  padding: 1em;
  margin-block-start: 1em;
  border-radius: 0.5em;
  background-color: #D3D3D3;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .expression-day .expression-card {
    background-color: #656464;
  }
}
.container .sidebar .expression-day .expression-card .first-row {
  display: flex;
  justify-content: space-between;
}
.container .sidebar .expression-day .expression-card .first-row .expression {
  font-weight: bold;
  font-size: x-large;
}
.container .sidebar .expression-day .expression-card .first-row .share {
  width: 8.5%;
  max-width: 1.7em;
}
.container .sidebar .expression-day .expression-card .first-row .share img {
  width: 100%;
}
.container .sidebar .expression-day .expression-card .explication {
  padding-block-start: 0.5em;
}
.container .sidebar .expression-day .expression-card .example {
  font-style: italic;
  padding-block-start: 0.8em;
}
.container .sidebar .expression-day .expression-card .card-info {
  padding-block-start: 1em;
}
.container .sidebar .expression-day .expression-card .card-info .author {
  font-weight: bold;
  cursor: pointer;
  color: #2D6A9F;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .expression-day .expression-card .card-info .author {
    color: #f3c3c3;
  }
}
.container .sidebar .expression-day .expression-card .card-info .date {
  font-weight: bold;
  color: #2D6A9F;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .expression-day .expression-card .card-info .date {
    color: #f3c3c3;
  }
}
.container .sidebar .expression-day .expression-card .last-row {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1em;
}
.container .sidebar .expression-day .expression-card .last-row .likes-system {
  display: flex;
  border-radius: 0.5em;
  border: 0.0625em solid #bfc2c9;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .expression-day .expression-card .last-row .likes-system {
    border: 0.0625em solid #4b5368;
  }
}
.container .sidebar .expression-day .expression-card .last-row .likes-system .like-part {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  border-inline-end: 0.0625em solid #bfc2c9;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .expression-day .expression-card .last-row .likes-system .like-part {
    color: #ffffff;
    border-inline-end: 0.0625em solid #4b5368;
  }
}
.container .sidebar .expression-day .expression-card .last-row .likes-system .like-part img {
  width: 30%;
  max-width: 1.7em;
}
.container .sidebar .expression-day .expression-card .last-row .likes-system .like-part .likes {
  margin-block: auto;
}
.container .sidebar .expression-day .expression-card .last-row .likes-system .dislike-part {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: #363C49;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .expression-day .expression-card .last-row .likes-system .dislike-part {
    color: #ffffff;
  }
}
.container .sidebar .expression-day .expression-card .last-row .likes-system .dislike-part img {
  width: 30%;
  max-width: 1.7em;
}
.container .sidebar .expression-day .expression-card .last-row .likes-system .dislike-part .dislikes {
  margin-block: auto;
}
.container .sidebar .expression-day .expression-card .last-row .report {
  width: 8.5%;
  max-width: 1.7em;
}
.container .sidebar .expression-day .expression-card .last-row .report img {
  width: 100%;
}
.container .sidebar .add-expression {
  text-align: center;
  padding-block-end: 1.5em;
}
.container .sidebar .add-expression .add-button {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f1faee;
  color: #363C49;
  border-radius: 0.5em;
  padding: 0.5em;
}
.container .sidebar .add-expression .add-button:hover {
  background-color: #457b9d;
}
@media (prefers-color-scheme: dark) {
  .container .sidebar .add-expression .add-button {
    background-color: #2d2476;
    color: #ffffff;
  }
  .container .sidebar .add-expression .add-button:hover {
    background-color: #673d8d;
  }
}

.thefooter {
  margin-inline: 0.5em;
  margin-block-end: 0.5em;
  grid-row: 3/4;
  border-radius: 0.5em;
  background-color: #E2E4E9;
}
@media (prefers-color-scheme: dark) {
  .thefooter {
    background-color: #2B303B;
  }
}
.thefooter .info {
  text-align: center;
  padding: 1em;
  font-weight: bold;
}
