// Culori

/////////////////////////////////Light Mode/////////////////////////////////
/// Backgrounds
$primary-color: #fff;
$secondary-color: #bdb6b6;
$third-color: #7e7676;
$fourth-color: #454444;
/// Text color
$text-color: #000;
$clickable-color: blue;
/// Navbar
$nav-background-color: #c55050;
$button-color: blue;
$button-color-hover: rgb(85, 85, 171);

/////////////////////////////////Dark Mode/////////////////////////////////
/// Backgrounds
$primary-color-dark: #000000;
$secondary-color-dark: #3a3636;
$third-color-dark: #9b8282;
$fourth-color-dark: #c69c9c;
/// Text color
$text-color-dark: #ffffff;
$clickable-color-dark: blue;
/// Navbar
$button-color-dark: blue;
$nav-background-color-dark: #755a5a;
$button-color-hover-dark: rgb(85, 85, 171);


// Întreaga pagină

html{
    background-color: $primary-color;
    color: $text-color;
    font-family: 'Roboto Condensed';
    @media (prefers-color-scheme: dark) {
        background-color: $primary-color-dark;
        color: $text-color-dark;
    }
}

.thebody {
    display: grid;

    row-gap: 1em;
}

// Header-ul

.theheader {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 0.5em;
    text-align: center;
    background-color: $secondary-color;
    @media (prefers-color-scheme: dark) {
        background-color: $secondary-color-dark;
    }
    .logo {
        grid-row: 1/2;
        width: 35%;
        margin: auto;
        path{
            fill: #000;
            @media (prefers-color-scheme: dark) {
                fill: #FFF;
            }
        }
    }
    #search-form {
        display: flex;
        flex-direction: row;
        height: 60%;
        .search-input{
            width: 100%;
            margin-inline-start: 1em;
            padding: 0.5em;
            border: none;
            border-start-start-radius: 0.5em;
            border-end-start-radius: 0.5em;
            outline: none;
            background-color: $primary-color;    
            @media (prefers-color-scheme: dark) {
                background-color: $primary-color-dark;
                color: $text-color-dark;
            }
            &::placeholder{
                color: $text-color;
                @media (prefers-color-scheme: dark) {
                    color: $text-color-dark;
                }
            }
        }
        .search-button {
            background: rgb(85, 85, 86);
            border: none;
            outline: none;
            margin-inline-end: 1em;
            border-start-end-radius: 0.5em;
            border-end-end-radius: 0.5em;
            width: 10%;
        }
        .search-button img {
            width: 100%;
            height: auto;
        }
    }
    .nav-menu {
        grid-row: 3/4;
        display: flex;
        margin-block-end: 0.5em;
        height: 75%;
        .nav-button {
            text-decoration: 0;
            font-weight: bold;
            padding-block: 1em;
            color: $text-color;
            background-color: $nav-background-color;
            @media (prefers-color-scheme: dark) {
                color: $text-color-dark;
                background-color: $nav-background-color-dark;
            }
        }
        .home-button {
            width: 85%;
            text-align: left;
            padding-inline-start: 1em;
            border-inline-start: 0.5em;
        }
        .menu-place {
            width: 15%;
            .menu-icon {
                display: block;
                height: 100%;
            }
        }
        .dropdown {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 8em;
            margin-block-start: 3.3em;
            margin-inline-end: 0.4em;
            border-radius: 0.5em;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            .dropdown-content {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
        }
       .nav-menu-border {
            border-inline: 0.0625em solid $fourth-color;
            @media (prefers-color-scheme: dark) {
                border-inline: 0.0625em solid $fourth-color-dark;
            } 
        }
    }
}

//// Conținut

.container {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    .content {
        grid-row: 1/2;
        border-radius: 0.5em;
        background-color: $secondary-color;
        @media (prefers-color-scheme: dark) {
            background-color: $secondary-color-dark;
        }
        .expressions-list {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            .expression-card {
                padding: 1em;
                margin-inline: 0.8em;
                margin-block-start: 1em;
                border-radius: 0.5em;
                background-color: $third-color;
                @media (prefers-color-scheme: dark) {
                    background-color: $third-color-dark;
                }
                .first-row {
                    display: flex;
                    justify-content: space-between;
                    .expression {
                        font-weight: bold;
                        font-size: x-large;
                    }
                    .share {
                            width: 7%;
                            .share-icon {
                                width: 100%;
                            }
                    }
                }            
                .explication {
                    padding-block-start: 0.5em;
                }
                .example {
                    font-style: italic;
                    padding-block-start: 0.8em;
                }
                .card-info {
                    padding-block-start: 1em;
                    .author {
                        font-weight: bold;
                        cursor: pointer;
                        color: $clickable-color;
                        @media (prefers-color-scheme: dark) {
                            color: $clickable-color-dark;
                        }
                    }
                    .date {
                        font-weight: bold;
                        cursor: pointer;
                        color: $clickable-color;
                        @media (prefers-color-scheme: dark) {
                            color: $clickable-color-dark;
                        }
                    }
                }
                .last-row {
                    display: flex;
                    justify-content: space-between;
                    padding-block-start: 1em;
                    .likes-system {
                        display: flex;
                        border-radius: 0.5em;
                        border: 0.0625em solid $fourth-color;
                        @media (prefers-color-scheme: dark) {
                            border: 0.0625em solid $fourth-color-dark;
                        }
                        .like-part {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            text-decoration: none;
                            border-inline-end: 0.0625em solid $fourth-color;
                            color: $text-color;
                            @media (prefers-color-scheme: dark) {
                                color: $text-color-dark;
                                border-inline-end: 0.0625em solid $fourth-color-dark;
                            }
                            .like-icon {
                                width: 30%;
                            }
                            .likes {
                                margin-block: auto;
                            }
                        }
                        .dislike-part {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            text-decoration: none;
                            color: $text-color;
                            @media (prefers-color-scheme: dark) {
                                color: $text-color-dark;
                                border-inline-end: 0.0625em solid $fourth-color-dark;
                            }
                            .dislike-icon {
                                width: 30%;
                            }
                            .dislikes {
                                margin-block: auto;
                            }
                        }
                    }
                    .report {
                        width: 7%;
                        .report-icon {
                            width: 100%;
                        }
                    }
                }
            }
            .last {
                margin-block-end: 1em;
            }
        }
    }
    .sidebar {
        grid-row: 2/3;
        border-radius: 0.5em;
        background-color: $secondary-color;
        @media (prefers-color-scheme: dark) {
            background-color: $secondary-color-dark;
        }
    }
}

//Footerul

.thefooter  {
    grid-row: 3/4;
    border-radius: 0.5em;
    background-color: $secondary-color;
    @media (prefers-color-scheme: dark) {
        background-color: $secondary-color-dark;
    }
}